@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .graph-container {
        @apply flex flex-col max-h-screen px-8 rounded-3xl pb-12;
    }

    .top-container {
        @apply flex flex-row w-full mb-4;
    }

    .query-examples {
        @apply flex flex-row;
    }

    .query-table {
        @apply bg-slate-600 rounded-lg p-4 space-y-2;
    }

    .query-table-data {
        @apply bg-slate-800 rounded-md;
    }

    .form-container {
        @apply flex flex-col w-[30%] h-auto mr-4 space-y-4 pb-4;
    }

    .form-styles {
        @apply flex flex-col space-y-4;
    }

    .form-label {
        @apply text-lg font-bold pb-1;
    }

    .form-input {
        @apply text-black rounded-md px-2;
    }

    .form-button {
        @apply flex flex-row font-semibold bg-blue-400 text-white py-1 rounded-full justify-center w-48;
    }

    .query-page {
        @apply flex flex-col w-full pt-12 px-12 pb-12;
    }

    .form-field-container {
        @apply flex flex-col;
    }
}
